body{
  background-color: #090C08;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.light{
  background-color: #F5F5F5;
}

p{
  color: #D9D9D9;
}



#nav-bar{
  /* Rectangle 1 */
  width: 39rem;
  height: 6.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5rem;
  background: #178C54;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  

}

#main-nav ul{
  list-style-type:none;
  margin: 0;
  padding: 2em;
  overflow: hidden;
  font-size: 1.2em;
  text-align: center;
  display: flex;
}

#main-nav ul p{
  display: block;
  padding-inline: 3rem; 
}

.image-container{
  position: relative;
  padding-top: 2rem;
  
}

.slider{
  position: relative;
  overflow: hidden;
}

.slide{
  width: 100%;
  height: auto;
  margin: 0 auto;
}


.slider img{
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade-slide;
  animation-duration: 1s;
}

@keyframes fade-slide{
  from{
    translate: 90vw 0;
  }
  to {
    translate: 0 0;
  }
}

button{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons button{
  position: absolute;
  top: 50%;
  background: rgba(0,0,0,0);
  border: none;
  color: #178C54;
  font-size: 2rem;
  padding-inline: 0.5em;
}

.prevbutton{
  left: 0;
}

.nextbutton{
  right: 0;
}

.logo{
  position: absolute;
  display: flex;
  top: 5.5rem;
  align-items: center;
  justify-content: center;
}

.natty-logo{
  width: 90%;
  animation: fadeIn 3s ease-in forwards;
}

.links{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.link{
  margin: auto;
  padding: 3rem;
  display: inline-block;
  overflow: hidden;
}

a:hover{
  color:#090C08;
}

#email:hover{
  color: #81667A;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#theme{
  position: fixed;
  bottom: 1rem;
  color: #D9D9D9;
  border-radius: 15px;
  border: none;
  background-color: #178C54;
}